layout_*
layouts_*
resultado_*
catalogos/*
.~lock*
__pycache__
assets/glb/*

dados.db
popular_catalogos.py

# VS Code
.vscode/*
.env
# Debug temporario da cena 3D
assets/*.blend*
assets/textures/*
assets/templates/*
